<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Generador de Repertorio</title>
</head>
<body>

<h1>🎵 Generador de repertorio</h1>

<form action="/procesar/" method="post" enctype="multipart/form-data">

    <label>Subir repertorio.txt</label><br>
    <input type="file" name="lista" required><br><br>

    <label>Nombre del PDF de salida</label><br>
    <input type="text" name="nombre_salida" required><br><br>

    <button type="submit">Generar PDF</button>

</form>

</body>
</html>
